/all-goodNodes.json
/all-seedNodes.json
/neo-java-test.log
/neo-java.log
/target/
/LocalControllerStatsModel.txt
/LocalControllerStatsModel-2017-11-23.txt
/LocalControllerStatsModel-2017-11-24.txt
/ApiCallModel.txt
/StatsModel*
/RemotePeerDataModel.txt
/test-java-chain/
/neo-java-2018-02-11.log
/chain.acc
/chain.acc.zip
/chain-stats.json
